*{
    margin: 0;
    padding: 0;
    font-size: 17px;
    background-color: #242424;
    color: #fff;
}
.img{
    width: 350px;
}
.icon{
    height: 30px;
    width: 30px;
}
.texto2{
    display: flex;
}
.texto{
    display: flex;
}
.h1{
    width: 200px;
    margin-left: 5px;
}
.app{
    display: flex;
    justify-content: center;
}
.div{
    display: flex;
    border: 15px solid red;
    flex-wrap: wrap;
    justify-content: center;
}